@media (min-width: 37.5em) {
    #grid {
        grid-template-columns: 1fr 1fr;
    }
    header {
        font-size:20px;
    }
}
   
@media (min-width: 60em) {
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    header {
        font-size: 25px;
    }
}
   