@media only screen and (min-width: 37.5em) {

    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .contact-grid {
        display:grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .contact-info {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:5px;
    }
    .contact {
        display:none;
    }
    

}
@media only screen and (min-width: 60em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
        font-size:1.1rem;
    }
    .navigation li:first-child {
        display: none;
    }
    .contact-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    #aname {
        grid-column: 2/3;
    }
    #agender {
        grid-column:3/4;
    }
    #aphone{
        grid-column:2/3;
    }
    #aquestion {
        grid-column:2/4;
    }
    .contact-img {
        display:none;
    }

}
