@media only screen and (min-width:37.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .intro_type img { 
        width: 100%;
    }
     .home_car_type{
        display: flex;  
        justify-content: center;  
    }
    .five_forecast{
        border:1px groove;
        border-radius: 10px;
        margin:10px;
        padding:10px;
    }
    .five_day {
        width: 70%;
        display:flex;
        margin:0 auto;
    }
    .five-day-forecast{
        margin:0 auto;
        width:90%;

    }
    .five-day-forecast-item{
        border: 1px groove ;
        text-align:center;
        
    }
    .five-day-forecast-heading {
        border-bottom: 1px groove;
        font-weight: bold;
        text-shadow: 1px 1px;
        padding: 0.5em 0;
    
    }
    .five-day-forecast-content {
        font-weight: bold;
    }
    .five-day-forecast-content img {
        width:70%;
        /* min-width: 100px;
        min-height: 75px; */
        padding:0.5em;
        margin-top: 5px;
    }
    .five-day-forecast-content p {
        margin: 0;
        padding: 0 0 0.5em;
    }
    
}

@media only screen and (min-width:60em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
        font-size:1.1rem;
    }
    .navigation li:first-child {
        display: none;
    }
    .intro_type img { 
        width: 90%;
        display:block;
        margin:0 auto;
    }
    #content {
        max-width:960px;
        margin:0 auto;
    }
}