
.logo {
    display: block;
    width:150px;
    margin: 0 auto;
}
header, footer{
    background-color: #E6E6FA;
    font-family: 'Libre Baskerville', serif;
}
h1 {
    font-family: 'Courgette', cursive;
    color:#5A684B;
    font-size:25px;
    text-align: center;
}
h2,h3{
    font-family: 'Courgette', cursive;
    color:#5A684B;
}
p, ul{
    font-family: 'Libre Baskerville', serif;
    color:#32485C;
}
nav{
    text-align: center; 
}
.navigation {
    list-style: none;
    padding:0;
    margin: 0 auto;
    overflow: hidden;
}
.navigation li:first-child {
    display:block;
}
.navigation li {
    display:none;
}
nav a, nav ul {
    display:block;
    color:#32485C;
    text-align:center;
    text-decoration: none;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}
nav a:hover{
    background-color:#3e6595;
    color: white;
}
.responsive li {
    display:block;
}
.active {
    color: rgba(179, 66, 118, 0.787);
}
.intro_type img{
    width:100%;
}
legend {
    color:#5A684B;
    margin-left:1.5rem;
}
form {
    font-family: 'Libre Baskerville', serif;
    width:80%;
    margin:0 auto;
}
fieldset {
    display:flex;
    justify-content: center;
}
button {
    margin-left:5px;
    color: rgba(179, 66, 118, 0.787);;
}
.home_car_type img {
    width:60%;
}
.home_car_type div{
    text-align: center;
    border: 1px groove;
    border-radius: 10px;
    box-sizing:10px;
    margin:10px;
}
.weather_sum {
    border: 1px groove;
    margin:10px;
    border-radius: 10px;
}
.weather_sum p {
    text-align:center;
}
.five_day {
    color:#32485C;
    font-family: 'Libre Baskerville', serif;
    margin:10px;
}
.five_forecast {
    display:none;
}
.social {
    border-style: none;
    display:flex;
    justify-content: center;
    margin-top:10px;
} 
.fb, .ig, .yb {
    width:1.8rem;
    border-radius: 5px;;
    margin-left:5px;
}
footer p, .home_contact{
    text-align:center;
}
#copyright {
    text-align:center;
    margin-top: 10px;
    font-size: 10px;
}
.home_contact a {
    color: rgba(179, 66, 118, 0.787);
    text-decoration: none;
    font-style: italic;
}
#copyright a {
    color:black;
    text-decoration: none;
}