@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Sriracha&display=swap');

#content {
    min-height:100vh;
}
header, footer {
	background-color:#a3bdd6;
	display: flex;
	flex-flow: column; 
	align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: Mukta, Helvetica, sans-serif;
}
h1 {
    font-size: 2rem;
    font-family: 'Sriracha', cursive;
}
h2 {
    color: #677f96;
    font-family: "Sriracha";
    text-align:center;
    
}
p, ul {
    font-family: Mukta, Helvetica, sans-serif;
    font-size:16px;
}
nav {
	margin: 0;
    overflow: hidden;
    background-color: #dbc2bc;
	text-align: center;
}
.navigation {
    /* list-style: none; */
    padding:0;
    
}
.navigation-body {
    display:none;
    height:0%;
    transition:height 5s;
}
nav a, nav ul{
	display: block;
	color: #2e4357;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: Mukta, Helvetica, sans-serif;
}
nav a:hover {
	background-color: #bbb;
	color: white;
}
.responsive .navigation-body {
    height:100%;
    display:unset;
}
.active {
    color: rgba(179, 66, 118, 0.787);
}
main {
    margin:20px;
}
main div{
    border-style:groove;
    padding-left:20px;
    margin:5px;
}
footer, footer a {
    color: black;
    font-family: Mukta, Helvetica, sans-serif;
    font-size:13px;
}