@media only screen and (min-width:37.5em) {
    /* #town1, #town2, #town3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #town1:nth-child(odd) img, #town2:nth-child(odd) img, #town3:nth-child(odd) img  {
        grid-column: 2;
      }
    .towncatelog:nth-child(odd) {
        grid-column: 1;
        grid-row: 1;
    } */
    #town1, #town2, #town3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .town:nth-child(odd) img {
        grid-column: 2;
      }
    .towncatelog:nth-child(odd) {
        grid-column: 1;
        grid-row: 1;
    }
    
}

@media only screen and (min-width:60em) {
    .snowflake {
        display:none;
    }
    .town {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .town p, .town h2 {
        grid-column: 1/2;
    }

    .town img{
        grid-column: 1/2;
    }
    #town1, #town2, #town3 {
        display:block;
        justify-content: center;
    }
}