@media only screen and (min-width: 37.5em) {
    
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr)
    }
 

}
@media only screen and (min-width: 60em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
        font-size:1.1rem;
    }
    .navigation li:first-child {
        display: none;
    }
    .gallery{
        grid-template-columns: repeat(3, 1fr);
        max-width: 960px;
        margin:auto auto 20px;
    }
    .grid-item:hover {
        box-shadow: 0 0 20px grey;

    }
}
