@media only screen and (min-width: 37.5em) {

    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .contact p, .social {
        padding-left:20rem;
    }
    

    .sodasprings-map {
        display:block;
        float:left;
        width:180px;
        padding-left:130px;
    }
    .hero_img {
        width: 100%;
    }

    .weather_sum {
        line-height:1rem;
    }
    h3 {
        display:block;
    }
    .fiveday {
        width: 100%;
        display:flex;
        font-family: Mukta, Helvetica, sans-serif;
        
    }
    .five-day-forecast{
        margin:0 auto;
        width:90%;
        justify-content:center;
    }
    .five-day-forecast-item{
        border: 1px solid black;
        text-align:center;
    }
    .five-day-forecast-heading {
        border-bottom: 1px solid black;
        font-weight: bold;
        text-shadow: 1px 1px;
        padding: 0.5em 0;
    
    }
    .five-day-forecast-content {
        font-weight: bold;
    }
    .five-day-forecast-content img {
        width:100%;
        min-width: 100px;
        min-height: 75px;
        padding:0.5em;
        margin-top: 5px;
    }
    .five-day-forecast-content p {
        margin: 0;
        padding: 0 0 0.5em;
    }
}
@media only screen and (min-width: 60em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
        font-size:1.1rem;
    }
    .navigation li:first-child {
        display: none;
    }
    main {
        max-width:960px;
        margin:0 auto;
        padding:10px;
    }
    main div{
        margin:20px;;
    }
    .preston-map {
        display:block;
        float:left;
        /* width:170px; */
        padding-left:250px;
    }
    .hero_img {
        width: 100%;
    }
    .contact p, .social {
        padding-left:30rem;
    }
}
