@media only screen and (min-width: 37.5em) {

	nav ul { 
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
    nav ul li a {
        font-size:18px;
    }
	.StanleyFace, .JasmineFace {
        width:60%;
    }
    table {
        width:500px;
    }

}
@media only screen and (min-width: 60em) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    nav ul li a {
		font-size: 18px;
	}
    table {
        width:700px;
    }
}